{
  "CYPRESS_APP_GOOGLE_API_KEY": "AIzaSyAvUNynHkOr1Ubrd2WcR0hspWU372MVXCs",
  "CYPRESS_APP_AUTH_DOMAIN": "countries-78568.firebaseapp.com",
  "CYPRESS_APP_PROJECT_ID": "countries-78568",
  "CYPRESS_APP_STORAGE_BUCKET": "countries-78568.appspot.com",
  "CYPRESS_APP_MESSAGING_SENDER_ID": "591877595402",
  "CYPRESS_APP_APP_ID": "1:591877595402:web:e0aa91cb71f165adb01af3"
}
